@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
    --body-background-color: #FAFCFD;
    --container-background-color: white;
    --default-text-color: #000;
    --main-color: #ff5160;
    --main-color-darker: #d84450;
}
*{ font-family: 'Roboto', sans-serif; }

.subheader { opacity: 80%; }
.user-icon { background-color: var(--main-color); width: fit-content; top: -1rem; }
.header { padding-top: 2rem; }
form { padding-top: .25rem; }

.form-input { position: relative; }
.form-input + .form-input { margin: .5rem 0; }
.form-input label { position: absolute; top: 1rem; left: 1rem; padding: 0 .2rem; font-size: 1rem; opacity: 80%; transition: all .2s linear; }
.form-input input { height: 3rem; padding: 0 .8rem; border-radius: 5px; border-color: hsl(0, 0%, 60%); border-width: 1.5px; transition: border-color .2s linear; }
.form-input input:focus { border-color: var(--main-color); border-width: 2px; outline: none; }
.form-input input:focus + label { top: -.4rem; color: var(--main-color); background-color: white; font-size: .75rem; opacity: 100%; font-weight: bold; } 

.form-cta { 
    border: none; background-color: var(--main-color); border-radius: 4px;
    font-size: .80rem; color: white; letter-spacing: 1px; font-weight: 300;
    transition: all .2s linear;
    position: relative;
}
.form-cta:hover { background-color: var(--main-color-darker); }
.form-cta:active { border: 1px solid var(--main-color); background-color: white; color: var(--main-color-darker); }

.illustration { height: 100%; background: url('./images/signup_illustration.png') 0% 30% no-repeat; background-size: cover; }

@media screen and (min-width: 0px) {
    .user-icon { left: 45%; }
    .main-content { display: flex; flex-direction: column; align-items: center; }
    .header { text-align: center; }
    .form-input input { width: 18rem; }
    .form-cta { padding: 1rem 6rem; margin-top: 1rem; margin-left: .5rem; }
    .illustration { display: none; }
}

@media screen and (min-width: 425px) {
    .form-input input { width: 20rem; }
    .form-cta { padding: 1rem 7.25rem; margin-top: 2rem; }
}

@media only screen and (min-width: 768px) {
    .main-content { display: block; }
    .header { text-align: left; }
    .form-input input { width: 16rem; }
    .subheader { font-size: .85rem; }
    form { margin-top: 1rem; }
    .form-cta { padding: .5rem 5.5rem; margin-top: 1.5rem; }
    .illustration { display: block; }
    .user-icon { left: 1rem; }
}

@media only screen and (min-width: 992px) {
    .form-cta { padding: 1rem 8.25rem; }
    .form-input input { width: 22rem; }
}

@media only screen and (min-width: 1440px) {
    .user-icon { left: 45%; }
    .header { margin-top: 1rem; text-align: center; }
    .main-content { display: flex; flex-direction: column; align-items: center; }
    form { margin-top: -.5rem; }
    .form-input input { width: 25rem; }
    .form-cta { padding: 1rem 10rem; margin-top: 1rem; }
}